.NavBare {
  height: 100%;
  position: absolute;
  margin-right: 10px;
  display: flex;
}
.nav {
  margin-top: auto;
}

.NavBare a {
  font-size: 33px;
}
.Navigation-col.col-md-1 {
  max-width: 4%;
}
